body {
  background-image: url('https://tinyurl.com/MBParchment1');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%; 
  
  
}

/* GENERAL STYLE */
* {
  box-sizing: border-box; 
}
button{
  white-space: nowrap;
}
node{display: none;}


h4{
margin-block-start:0px;
margin-block-end:0px;
font-size:14px;
line-height:20px;
text-transform: Uppercase;

}


