/* GITHUB ONLY STYLE */
archive{
  display:none;
}
body {
  background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment.png?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  font-family: Bitter;
  font-size: 18px;
  z-index:100;
  color:saddlebrown
}
.header{
  background-color: saddlebrown;
  color: white;
  padding:10px;
  margin:0px -8px;
  width:100vw;
  position: fixed;
  top:0;
  z-index:100;
}
.footer{
  background-color: saddlebrown;
  color: white;
  padding:10px;
  margin:0px -8px;
  width:100vw;
  position: fixed;
  bottom:0;
  text-align: center;
  z-index:100;
}

/* SHARED STYLE */
.mbPanel{
  background-color:#ffffff80;
  /*background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Light%2010.png?raw=true');*/
  background:rgba(255,255,255,.10);
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius: 0.6em;
  box-shadow: 0px 0px 5px saddlebrown;
  color:saddlebrown;
  font-family:Bitter;
  font-size:18px; 
  font-style:inherit;
  font-weight:normal;  
  line-height:1.25em; 
  margin:0px;
  padding:5px 0px 0px 0px; 
  text-align:left; 
  max-width:1000px;
  scroll-snap-type: y mandatory;
  scroll-margin-top:100px;
  flex:0 0 auto;
}

* {
  box-sizing: border-box; 
}
button{
  white-space: nowrap;
  font-size: inherit;
  opacity: 100%;
  padding:0px 5px;
}
node{display: none;}


h4{
margin-block-start:0px;
margin-block-end:0px;
font-size:14px;
line-height:20px;
text-transform: Uppercase;
white-space: normal;
hyphens:auto;

}

ol{
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 20px;
  list-style: decimal-leading-zero ;
}
ol > li{
  padding-left:5px;
}
li::marker{
  font-size:0.8em;
  letter-spacing:-2px;
}
ul{
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0px;
  list-style-type: none;
}

/* SECTION NESTING STYLE */
section section{
  background-color:#ffffff80;
border-radius: 0.6em;
color:inherit;
  font-family:Bitter;
  font-size:18px; 
  font-style:inherit;
  line-height:1.25em; 
  margin:0px 0px;
  padding:10px 10px; 
  text-align:left; 
}

  /* SCROLL */
.mbscroll{
  background-color:#ffffff80;
  background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Light.png?raw=true');
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius: 0.6em;
  box-shadow: 0px 0px 5px saddlebrown;
  color:saddlebrown;
  font-family:Bitter;
  font-size:18px; 
  font-style:inherit;
  font-weight:normal;
  line-height:1.25em; 
  margin:10px 0px;
  padding:10px; 
  scroll-snap-type: y mandatory;
  scroll-margin-top:10px;
  text-align:left; 
}


/* FLEX SECTION */
.flex{
display:flex;  
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
gap:10px;
/*padding:5px 0px 5px 0px;
margin:-5px;*/


}
.flex > div {
  flex: 250px; 
  /*margin:5px 5px;*/
}

.mbStack > div {
  margin:5px 0px;
}

.mbStackFlex{
  max-height:50vh;
  overflow-y:auto;
  padding:5px 2px;
  display:flex;
  flex-direction: column;
  gap:10px;
}


/*.mbStack > div:first-of-type {
  margin-top:5px;
}
.mbStack > div:last-of-type {
  margin-bottom:0px;
}*/

.flex > .spacer{
  margin:0px 5px;
  order:99999999;
}
/*
@media (max-width: 400px) {
  .flex {
    flex-direction: column;
    flex-wrap: nowrap;
  align-items: stretch;
  }
}*/
.spacer{
  margin:0px;
  padding:0px;
  font-size: 1px;
  line-height: 1px;
}

/* STYLES FOR DAY LIST */
.mbDayHeader{
  display:none;
}
/*  .mbCalCB > .mbbanner > .mbscroll > .mbDayHeader{*/
.mbbanner > .mbscroll > .mbDayHeader:first-child {
  display:inline;
}

.mbCalCB > .mbbanner > .mbscroll > .mbDayContent{
  display:none;
}


/* STYLES FOR DEFLIST */
.DefList section{
  padding-left:30px;
}
.DefList section b:first-child{
margin-left:-30px;
padding-right:10px;
}

.mbSS{
  margin-left:-16px;
  font-size: 12px;
}
.mbRef{
  /* 20230220: Evelyn: Created for showing right aligned references */
  float:right;
  font-size: 14px;
  font-weight: bold;
  line-height: 17.5px;  
  text-align:right;
  vertical-align: middle;
}
.mbRefS{
  /* 20230413: StarTree: Smaller for displaying stats */
  float:right;
  font-size: 10px;
  font-weight: bold;
  line-height: 17.5px;  
  text-align:right;
}

/* OTHER STYLES */

p a{font-family: inherit;color:inherit; margin:2px 0px;text-decoration:underline;transition: all 0.25s ease; }
p a:visited{font-family: inherit;color:inherit; }
p a:hover{font-family: inherit;color:#00ff00;cursor:pointer }
p a:active{font-family: inherit;}

a{
  cursor:pointer;
  font-weight:inherit;
  white-space: nowrap;
  text-decoration: none;
}
.mbContext > a{
  white-space: normal;
}

h1{
  color: saddlebrown;
font-size:36px;
line-height:1.1em;
margin:3px 0px;
padding:0px;
}
h2{
  color: saddlebrown;
  font-size:24px;
  line-height:1.1em;
margin:0px 0px;
padding:0px;
}
h3{
  color: saddlebrown;
font-size:22px;
line-height:1.1em;
margin:0px 0px;
padding:0px;
}
h3c{
  color: saddlebrown;
display:block;
font-size:22px;
font-weight:bold;
line-height:1.25em;
margin:0px 0px;
padding:0px;
}
hr{
  background-color: saddlebrown; 
  border: 0px;
  border-radius: 2px; 
  height: 3px;
  margin:5px 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
table{
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.post-title{margin-bottom:1em;}
.item-view .post-share-buttons{display:none;}
.post-share-buttons {display:none;margin:0px;}
.post-share-buttons-top{display:none;margin:0px;}

.mbCardRM{
  float:none;
  text-align:center;
}
.mbbgs .mbCardRM{
float:none;
text-align:center;
}

@media only screen and (min-width:500px){
.mbCardRM{
  float:right;
  clear:right;
}
}
.mbMC2{
  column-count: 2; 
  column-gap: 2em; 
}
.mbMC3{
column-count: 1; 
column-gap: 0em; 
}

@media only screen and (min-width:500px){
.mbMC3{
column-count: 2; 
column-gap: 2em; 
}
}
@media only screen and (min-width:750px){
.mbMC3{
column-count: 3; 
column-gap: 2em; 
}
}

mbNote > a:first-child{
  font-size:15px;
  /*text-transform:uppercase;*/
}

.locbanner {background-color:#000000; background-size:cover; color:#ffffff; border:0px solid #000000; border-radius:0px; display:block; font-size:18px; line-height:1.1em; margin: 2px 0px;padding:10px; width:100%; text-align:left; font-family:Bitter;}
.locbanner:hover {box-shadow: 0 0px 12px 0 rgba(255, 255, 255, 1);cursor:default;}

.av50 {height:50px; width:50px; border-radius:50%;border: 4px solid #ffffff;margin:0; padding:0;}


.button {
color: black; padding: 16px 32px; border-radius: 8px; text-align: center; 
text-decoration: none; display: inline-block; font-family: inherit; font-size: medium 
4px 2px; transition-duration: 0.4s; cursor: pointer;
}

.choice { background-color: white; color: black; border: 2px solid #666666; width: 100%;}
.choice:hover { background-color: #666666; color: white; width: 100%;}
.locex { padding: 8px 16px; background-color: white; color: black; border: 2px solid #1155CC; border-radius: 0px; width: 300px; text-align: left}
.locex:hover { padding: 8px 16px; background-color: #1155CC; color: white; }
.recap { background-color: #C0C0C0; border:0px solid #666666; border-radius: 0px;color:#000000;  font-size:18px;padding:8px;text-align:left;width: 100%;}.recap:hover { background-color: #E0E0E0;}

.post-wrapper, #comments {
  background-color:#fff2cccc;
}


/* For Anchor Position */
/* Ref: http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css */
:target { 
display: block;
position: relative;
top: -90px; 
visibility: hidden;
}

ctr{text-align:center;}
hide {display:none}
jq{
  color:saddlebrown;
  font-size: 14px;
  font-weight: bold;
}
jq::before{content:"[Loading:"}
jq::after{content:"] "}
hl{
  background-color:yellow; 
  color:black;
}

/*COLORS*/
.TD{ /*TODO*/
color:yellow;
}
.WT{ /*WAIT*/
color:saddlebrown;  
}  
/*MAGIC BAKERY*/


mbHL{
  background-color:LemonChiffon;   
}
.mbHL{
  background-color:LemonChiffon;  
}

mbAA{ /*Arcacia Award*/
color: #e66;
display:block;
font-weight:bold;
text-align:center;
}
mbAA::before{content:"💗 ";font-weight:normal;}
mbAA::after{content:" Arcacia Award.";}
mbAct{ /* Action/Acting */
display:block;
font-weight:bold;
text-align:center; 
}
mbAct::before{content:"** ";}
mbAct::after{content:" **";}
mbBest{ /*Best*/
color: Goldenrod;
display:block;
font-weight:bold;
text-align:center;
}
mbBest::before{content:"👑 ";font-weight:normal;}  
mbCardinal{ /* Cardinal Message */
color: #cc0000;
display:block;
font-weight:bold;
text-align:center; 
}
mbCardinal::before{content:"🔴 ";font-weight:normal;}
mbClue{ /*Clue*/
color: SlateBlue;
display:block;
font-weight:bold;
text-align:center;
}
mbClue::after{content:" 🔍";font-weight:normal;}
mbClue::before{content:"🔍";font-weight:normal;}

mbComplete{ /* Mission Accomplished */
color: #38761d;
display:block;
font-weight:bold;
text-align:center; 
}
mbComplete::before{content:"\2705\0020";font-weight:normal;}
mbElm{ /* Elemental Affinity */
  font-size: 14px;
font-weight:bold;
}
mbDMG{ /* Damage Messages */
color: #cc0000;
display:block;
font-weight:bold;
text-align:center;  
}
mbDamage{ /* Damage Messages Inline */
color: #cc0000;
font-weight:bold;
}
mbDMG::before{content:"\2694 \FE0F \20";font-weight:normal;}

mbKey{ /* Key Item */
  color: purple;
display:block;
text-align:center; 
}
mbKey::before{content:"Key Item Received: "; font-weight:bold;}
mbKudo{ /* Kudo */
color: #e06666;
display: block;
font-weight:bold;
text-align:center; 
}
mbKudo::before{content:"💟 ";font-weight:normal;}
mbMerit{ /*Merit*/
color: purple;
display:block;
font-weight:bold;
text-align:center;
}
mbMerit::before{content:"\2B50 \20";font-weight:normal;}
.mbRankr{
  float:right;
  font-size:36px;
  font-weight: bold;
  margin-top:10px;
}
mbREC{ /*Recognition*/
color: #0b5394;
display:block;
font-weight:bold;
text-align:center;
}
mbREC::before{content:"🏅 ";font-weight:normal;}
mbRP{ /*Roleplay Award*/
color: #351c75;
display:block;
font-weight:bold;
text-align:center;
}
mbRP::before{content:"🦄 ";font-weight:normal;}
mbRP::after{content:" Roleplay Award.";}
mbSkill{ /*Skill Definition*/
color: #38761d;
display:block;
font-weight:bold;
text-align:center;
}
mbSkill::before{content:"📗 ";font-weight:normal;}
mbSpell{ /* Spell Effect */
color: darkblue;
display:block;
font-weight:bold;
text-align:center;
}
mbSpell::before{content:"🌟 ";font-weight:normal;}
mbTele{ /*Teleport*/
color: #0b5394;
display:block;
font-weight:bold;
text-align:center;
}
mbTele::before{content:"💠 ";font-weight:normal;}
todo{ /* Todo Notes */
color: #cc0000;
display:inline;
font-weight:bold;
}
todo::before{content:"TODO: ";font-size: 12px;}


.mbIcon {
  background-color:rgba(0,0,0,0);
  background-position: 50% 50%; 
  background-size:cover; 
  display:inline-block;
  height:1.25em; 
  padding:0;
  /*text-shadow: 0px 0px 4px black;*/
  pointer-events: auto;
  width:1.25em;
}
a.mbIconShift> span.mbIcon{vertical-align: -0.25em;}
div.mbIcon{vertical-align: -0.25em;}
div.mbIcon > icon{font-size: 0px;}
span.mbIcon > icon{font-size: 0px;}


.mbavem {
  background-color:rgba(0,0,0,0);
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 2px solid saddlebrown;
  box-shadow: 0px 0px 0px saddlebrown;
  box-sizing: border-box;
  display:inline-block;
  height:20px; 
  line-height:1.1em;
  margin:0;
  padding:0;
  vertical-align:middle;
  width:20px; 
  
}
.mbCode { /* For formatting readonly textarea */
  background-color: lightyellow;
  border:none;
  color:saddlebrown;
  display:block;
  height:auto;
  width:100%;
  
  
}
.mbContext {
  background-color: #ffe689; 
  border: 2px solid goldenrod;
  border-radius: 5px;
  font-size:14px;  
  padding:0 2px;
  margin:0 2px;
  color:saddlebrown;
}
.mbOP{
  border-radius:50%;
  border: 2px solid saddlebrown;
  box-shadow: 0px 0px 0px #000000;
  display:inline-block;
  height:1em; 
  line-height:1em;
  margin:0;
  padding:0;
  vertical-align:middle;
  width:1em; 
}

.mbav24r {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 0px saddlebrown;
  box-sizing: border-box;
  float:right;
  height:24px; 
  margin:0; 
  padding:0;
  text-align:right;
  text-shadow: 0px 0px 0px #ffffff;
  width:24px; 
}
.mbav24t {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:5px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 0px saddlebrown;
  box-sizing: border-box;
  height:24px; 
  margin:0; 
  padding:0;
  text-align:right;
  text-shadow: 0px 0px 0px #ffffff;
  width:24px; 
}
.mbav50t {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  color:saddlebrown;
  display:inline-block;
  font-size:16px;
  height:50px; 
  line-height:0.5em; 
  margin:0; 
  padding:0;
  text-align:center;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  width:50px; 
}
.mbav50tp {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 3px solid saddlebrown;
  box-shadow: 0px 0px 2px saddlebrown;
  
  box-sizing: border-box;
  color:saddlebrown;
  display:inline-block;
  font-size:16px;
  height:50px; 
  line-height:0.5em; 
  margin:0; 
  padding:0;
  text-align:center;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; ;
  width:50px; 
}
.mbav50tr {
  
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 0px solid saddlebrown;
  box-sizing: border-box;
  display:inline-block;
  height:55px; 
  line-height:1em; 
  margin:0;    
  padding:0;
  text-align:right;
  text-shadow: 0px 0px 4px #ffffff;
  width:55px; 
}
.mbav50trg {
  background-color: greenyellow;
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 7px solid green;
  box-shadow: 0px 0px 4px greenyellow;
  box-sizing: border-box;
  display:inline-block;
  height:55px; 
  line-height:1em; 
  margin:0px;    
  padding:0;
  text-align:right;
  text-shadow: 0px 0px 4px #ffffff;
  width:55px; 
}
.mbav50cr {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  float:right;
  height:50px; 
  line-height:1em; 
  margin:0; 
  padding:0;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
}
.mbav50l {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  color:saddlebrown;
  float:left;
  height:50px; 
  margin:0; 
  padding:0;
  text-align:center;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; ;
  width:50px; 
}
.mbav50r {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  color:lightgoldenrodyellow;  
  float:right;
  font-size: 16px;
  height:50px; 
  line-height:1em; 
  margin:-4px -4px -4px 4px;       
  overflow-x: visible;
  text-wrap:nowrap;
  position:relative;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
  z-index:1
}
.mbav50e { /*ENTER BUBBLE*/
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 3px solid saddlebrown;
  box-shadow: 0px 0px 2px saddlebrown;
  box-sizing: border-box;
  color:lightgoldenrodyellow;  
  float:left;
  font-size: 16px;
  height:45px; 
  line-height:14.5px; 
  margin:0px 5px -4px 0px;       
  overflow-x: visible;
  text-wrap:nowrap;
  position:relative;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:45px; 
  z-index:1
}
.mbavXP{  
  padding-left:23px;
  padding-right:0px;
  text-align:center;
}
.mbavXP:has(span.mbIcon){
  margin-top:-5px;
}
.mbav50rc {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  float:right;
  height:50px; 
  line-height:1em; 
  margin:0; 
  padding:0;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
}
.mbav50lp {
  background-position: 50% 50%; 
  background-size:cover; 
  box-sizing: border-box;
  float:left;
  height:50px; 
  margin:0; 
  padding:0;
  text-align:right;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
}
.mbav50rp {
  background-position: 50% 50%; 
  background-size:cover; 
  box-sizing: border-box;
  float:right;
  height:50px; 
  margin:0; 
  padding:0;
  text-align:right;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
}
.mbavcard {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 5px saddlebrown;
  box-sizing: border-box;
  height:150px; 
  margin:0; 
  padding:0;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:180px; 
}
.mbav100r {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:50%;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 5px saddlebrown;
  box-sizing: border-box;
  float:right;
  height:100px; 
  margin:0; 
  margin-left:5px;
  padding:0;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:100px; 
}

/* ICONS (20x20 px) / 450 px square*/
.iArchive{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Archive.png?raw=true');}
.iArchive1{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Archive1.png?raw=true');}
.iArchive2{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Archive2.png?raw=true');}
.iArchive3{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Archive3.png?raw=true');}
.iBell{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Bell.png?raw=true');}
.iBlankBox{background-image:url('https://github.com/MagicBakery/Icons/blob/main/BlankBox.png?raw=true');}
.iBread{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Bread.png?raw=true');}
.iCamp{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Camp.png?raw=true');}
.iChecker{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Checker.png?raw=true');}
.iChick{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Chick.png?raw=true');}
.iClipboard{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Clipboard.png?raw=true');}
.iClose{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Close.png?raw=true');}
.iCornerRibbon{background-image:url('https://github.com/MagicBakery/Icons/blob/main/CornerRibbon.png?raw=true');}
.iCorrect{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Correct.png?raw=true');}
.iDice{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Dice.png?raw=true');}
.iDone{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Done.png?raw=true');}
.iDove{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Dove.png?raw=true');}
.iEagle{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Eagle.png?raw=true');}
.iEgg{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Egg.png?raw=true');}
.iFan{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Fan.png?raw=true');}
.iHatch{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Hatch.png?raw=true');}
.iHeadphone{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Headphone.png?raw=true');}
.iHeart{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Heart.png?raw=true');}
.iHeartEmpty{background-image:url('https://github.com/MagicBakery/Icons/blob/main/HeartEmpty.png?raw=true');}
.iHourglass{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Hourglass.png?raw=true');}
.iJam{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Jam.png?raw=true');}
.iJar{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Jar.png?raw=true');}
.iKudookie{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Kudookie.png?raw=true');}
.iLoveLetter{background-image:url('https://github.com/MagicBakery/Icons/blob/main/LoveLetter.png?raw=true');}
.iLyre{background-image:url('https://github.com/MagicBakery/Images/blob/main/Lyre.png?raw=true');}
.iMagnifier{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Magnifier.png?raw=true');}
.iMantleClock{background-image:url('https://github.com/MagicBakery/Icons/blob/main/MantleClock.png?raw=true');}
.iOwl{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Owl.png?raw=true');}
.iPalette{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Palette.png?raw=true');}
.iPancake{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Pancake.png?raw=true');}
.iPencil{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Pencil.png?raw=true');}
.iPie{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Pie.png?raw=true');}
.iPin{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Pin.png?raw=true');}
.iPostHorn{background-image:url('https://github.com/MagicBakery/Icons/blob/main/PostHorn.png?raw=true');}
.iPretzel{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Pretzel.png?raw=true');}
.iPudding{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Pudding.png?raw=true');}
.iQuestion{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Question.png?raw=true');}
.iRock{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Rock.png?raw=true');}
.iSchool{background-image:url('https://github.com/MagicBakery/Icons/blob/main/School.png?raw=true');}
.iSeeding{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Seeding.png?raw=true');}
.iShootingStar{background-image:url('https://github.com/MagicBakery/Icons/blob/main/ShootingStar.png?raw=true');}
.iSquareCap{background-image:url('https://github.com/MagicBakery/Icons/blob/main/SquareCap.png?raw=true');}
.iStar{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Star.png?raw=true');}
.iWand{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Wand.png?raw=true');}
.iWingL{background-image:url('https://github.com/MagicBakery/Icons/blob/main/WingL.png?raw=true');}
.iWingR{background-image:url('https://github.com/MagicBakery/Icons/blob/main/WingR.png?raw=true');}
.iWood{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Wood.png?raw=true');}
.iWrong{background-image:url('https://github.com/MagicBakery/Icons/blob/main/Wrong.png?raw=true');}

/* Avatars */
.mb3B {background-image:url('https://github.com/MagicBakery/Images/blob/main/3B%20(2).png?raw=true');}
.mb44 {background-image:url('https://github.com/MagicBakery/Images/blob/main/44.png?raw=true');}
.mbAlbatross {background-image:url('https://github.com/MagicBakery/Images/blob/main/Albatross%20Spite.png?raw=true')}
.mbAlice {background-image:url('https://github.com/MagicBakery/Images/blob/main/Alice.png?raw=true');}
.mbAmelia {background-image:url('https://github.com/MagicBakery/Images/blob/main/Amelia.png?raw=true');}
.mbArcacia {background-image:url('https://github.com/MagicBakery/Images/blob/main/Arcacia.png?raw=true');}
.mbBlack {background-image:url('https://github.com/MagicBakery/Images/blob/main/Black%20(3).png?raw=true');}
.mbCardinal {background-image:url('https://github.com/MagicBakery/Images/blob/main/Cardinal%20-%20Left.png?raw=true');} 
.mbCasey {background-image:url('https://github.com/MagicBakery/Images/blob/main/Casey.png?raw=true');}
.mbChatGPT {background-image:url('https://github.com/MagicBakery/Images/blob/main/ChatGPT4.png?raw=true');}
.mbEmi {background-image:url('https://github.com/MagicBakery/Images/blob/main/Emi.png?raw=true');}
.mbEvelyn {background-image:url('https://github.com/MagicBakery/Images/blob/main/Evelyn3.png?raw=true');}
.mbFina {background-image:url('https://github.com/MagicBakery/Images/blob/main/Fina3.png?raw=true');}
.mbGaia {background-image:url('https://github.com/MagicBakery/Images/blob/main/Gaia3.png?raw=true');}
.mbHelen {background-image:url('https://github.com/MagicBakery/Images/blob/main/Helen.png?raw=true');}
.mbIvy {background-image:url('https://github.com/MagicBakery/Images/blob/main/Ivy%203.png?raw=true');}
.mbJames {background-image:url('https://github.com/MagicBakery/Images/blob/main/James%202.png?raw=true');}
.mbJao {background-image:url('https://github.com/MagicBakery/Images/blob/main/Jao%202.png?raw=true');}
.mbKarl {background-image:url('https://cdn.pixabay.com/photo/2017/05/01/18/18/guitar-2276181_640.jpg');}
.mbKen {background-image:url('https://github.com/MagicBakery/Images/blob/main/Ken.png?raw=true');}
.mbKisaragi {background-image:url('https://github.com/MagicBakery/Images/blob/main/Kisaragi.png?raw=true');}
.mbKoyo {background-image:url('https://github.com/MagicBakery/Images/blob/main/Koyo.png?raw=true');}
.mbLedia {background-image:url('https://github.com/MagicBakery/Images/blob/main/Ledia.png?raw=true');}
.mbLRRH {background-image:url('https://github.com/MagicBakery/Images/blob/main/LRRH.png?raw=true');}
.mbMelody {background-image:url('https://github.com/MagicBakery/Images/blob/main/Melody%20BW.png?raw=true');}
.mbMikela {background-image:url('https://github.com/MagicBakery/Images/blob/main/Mikela.png?raw=true');}
.mbNaomi { background-image:url('https://github.com/MagicBakery/Images/blob/main/Naomi%202.png?raw=true')}
.mbNatalie {background-image:url('https://github.com/MagicBakery/Images/blob/main/Natalie%20(2).png?raw=true');}
.mbNatasha {background-image:url('https://github.com/MagicBakery/Images/blob/main/Natasha.png?raw=true');}
.mbNeil {background-image:url('https://github.com/MagicBakery/Images/blob/main/Neil.png?raw=true');}
.mbP4 {background-image:url('https://github.com/MagicBakery/Images/blob/main/P4.png?raw=true');}
.mbPatricia {background-image:url('https://github.com/MagicBakery/Images/blob/main/Patricia.png?raw=true');}
.mbPhone {background-image:url('https://github.com/MagicBakery/Images/blob/main/Phone3.png?raw=true')}
.mbRick {background-image:url('https://cdn.pixabay.com/photo/2019/11/19/12/02/tree-4637270_640.jpg');}
.mbRobert {background-image:url('https://github.com/MagicBakery/Images/blob/main/RobertLego.png?raw=true');}
.mbRoger {background-image:url('https://github.com/MagicBakery/Images/blob/main/Roger.png?raw=true');}
.mbRS {background-image:url('https://github.com/MagicBakery/Images/blob/main/RS.png?raw=true');}
.mbSasha {background-image:url('https://github.com/MagicBakery/Images/blob/main/Sasha.png?raw=true');}
.mbSirius {background-image:url('https://github.com/MagicBakery/Images/blob/main/Sirius.png?raw=true');}
.mbSkyle {background-image:url('https://github.com/MagicBakery/Images/blob/main/Skyle.png?raw=true')}
.mbStar {background-image:url('https://github.com/MagicBakery/Images/blob/main/Star.png?raw=true');}
.mbStarTree {background-image:url('https://github.com/MagicBakery/Images/blob/main/StarTree.png?raw=true');}
.mbSylvia {background-image:url('https://github.com/MagicBakery/Images/blob/main/Sylvia.png?raw=true');}
.mbTanya {background-image:url('https://github.com/MagicBakery/Images/blob/main/Tanya.png?raw=true');}
.mbTherese {background-image:url('https://github.com/MagicBakery/Images/blob/main/Therese.png?raw=true');}
.mbV {background-image:url('https://github.com/MagicBakery/Images/blob/main/V2.png?raw=true');}
.mbVivi {background-image:url('https://github.com/MagicBakery/Images/blob/main/Vivi.png?raw=true');}
.mbVladanya {background-image:url('https://github.com/MagicBakery/Images/blob/main/Vladanya.png?raw=true');}
.mbZoey {background-image:url('https://github.com/MagicBakery/Images/blob/main/Zoey2.png?raw=true');}

.mbav50pl {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  color: #ffffff;
  float:left;
  height:50px; 
  margin:-5px 5px 0px -5px; 
  padding:0px;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
}   
.mbav50pr {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px saddlebrown;
  box-sizing: border-box;
  color: #ffffff;
  float:right;
  height:50px; 
  margin:-5px -5px 0px 5px; 
  padding:0px;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:50px; 
}   
.mbav100pr {
  background-position: 50% 50%; 
  background-size:cover; 
  border-radius:10px;
  border: 4px solid saddlebrown;
  box-shadow: 0px 0px 4px #808080;
  box-sizing: border-box;
  float:right;
  height:100px; 
  margin:0px 0px 0px 5px; 
  padding:0;
  text-align:center;
  text-shadow: 0px 0px 4px #ffffff;
  width:100px; 
}
  
.mbNB{
  border: 2px solid rgba(139,69,19,0); /*saddlebrown*/
  border-radius:0px;
  box-shadow: none;
  background-repeat: no-repeat;
}
.mbKudo{
  color: #e06666;
}
.mbbanner {
    background-image:url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Crop.png?raw=true');
  background-position: 50% 50%; 
  background-size:cover; 
  border: 4px solid saddlebrown;  
  border-radius: 20px; 
  box-shadow: 0px 0px 8px #808080;
  color: saddlebrown;
  display:block; 
  font-size:18px; 
  line-height:1.25em; 
  margin: 0;
  padding:10px; 
  text-align:left; 
  font-family:Bitter;
}
  .mbApproval{
border-color:firebrick;
color:firebrick;
line-height:1em; 
text-align:center;
text-shadow: none;
}	  
.mbbg { 
    background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment.png?raw=true');
  border:0px solid #ffffff; 
  border-radius: 20px;
  box-shadow: 0px 0px 8px #808080;
margin-top:-16px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
  padding: 10px;
}
.mbbgs { 
    background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment.png?raw=true');
  border:0px solid #ffffff; 
  border-radius: 20px;
  box-shadow: 0px 0px 8px #808080;
margin:0px;
  padding: 10px;
}
  .mbbgLight{background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Crop.png?raw=true');}
  .mbbgLighter{background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Light.png?raw=true');}
  .mbbgGreen{background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Green.png?raw=true');}
  .mbbgLime{background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Lime.png?raw=true');}



.mbbutton, .mbbuttonc, .mbbuttonEx, .mbbuttonIn, .mbbuttonSelf{
  background-color:#ffffcc00;
  border: 0px; 
  border-radius: 0.68em; 
  color:inherit;
  font-family:inherit;
  font-weight:bold;
}
.mbbutton:active{
  color:saddlebrown
}
.mbNote{
  background-color:#ffffcc00;
  border: 0px; 
  border-radius: 0.68em; 
  color:inherit;
  font-family:inherit;
}
.mbbuttonc{
  text-align:center;
}
div .mbbutton .mbNote{
  margin-top:0px
}

.mbbuttonCal {
  border: 0px; 
color:saddlebrown;
  font-family:inherit;
  font-weight:bold;
}
.mbbuttonCal:hover{
background-color:saddlebrown; 
border-radius:4px;
  color:#ffffff;
cursor:pointer;
}
.mbbuttonCalAV {
  background-position: 50% 50%; 
  background-size:24px 24px; 
background-repeat: no-repeat;
border-radius:50%;  
color:rgba(0,0,0,0);
  font-family:inherit;
  font-weight:bold;
padding:8px

}
.mbbuttonCalAV:hover{
background-color:saddlebrown; 
background-image: url('');
border-radius:4px;
  color:#ffffff;
cursor:pointer;
font-weight:bold;
}
.mbbuttonIcon{
  background-color:#ffffcc00;
  border: 0px; 
  border-radius: 0.68em; 
  color:inherit;
  font-family:Bitter;
  font-weight:normal;
}
.mbbutton:hover, .mbbuttonc:hover, .mbbuttonIcon:hover, .mbbutton:hover h3, .mbbuttonc:hover h3, .mbNote:hover{
  background-color:saddlebrown; 
border-radius: 0.68em; 
  color:#ffffff;
cursor:pointer;
}


.mbbuttonEx{
  /*background-color:rgba(184,134,11,0.1); */
  /*background-color:rgba(0,0,128,0.1); */
  color:darkgoldenrod;
  
} 
.mbbuttonEx:hover{
  /*background-color:DeepSkyBlue; */
  background-color:goldenrod;
  color:#ffffff;
}

.mbbuttonIn:hover{
  background-color:DarkGreen; 
  color:#ffffff;
}
.mbbuttonSelf{
  background-color:Goldenrod; 
}
.mbbuttonSelf:hover{
  background-color:goldenrod; 
  color:#ffffff;
}
.mbListCap{
  background-color:saddlebrown;
  border-radius:2px;
  box-sizing:border-box;
  color:white;    
  float:left;
  margin:0px 0px 0px -30px;
  text-align:center;
  width:25px;
}
.mbListCapNC{
  border-radius:2px;
  box-sizing:border-box;
  float:left;
  font-weight: bolder;
  margin:0px 0px 0px -36px;
  text-align:center;
  width:30px;
}
.mbILB20,.mbILB25,.mbILB30,.mbILB35{
  border-radius:2px;
  box-sizing:border-box; 
  /*color:white;*/
  display:inline-block;
  margin:0px 0px 0px 0px;
  text-align:center;
  
}

.mbMaintenance:hover,.mbUpgrade:hover,.mbService:hover{
  background-color:saddlebrown;
}
.mbMaintenance{
  background-color: darkgoldenrod;
  color:white;
  font-weight: bolder;
}
.mbMaintenanceTx{
  color:darkgoldenrod;
  font-weight: bolder;
}
.mbUpgrade{
  background-color: gold;
  color:white;
  font-weight: bolder;
}
.mbUpgradeTx{
  color:goldenrod;
  font-weight: bolder;
}
.mbService{
  background-color: orange;
  color:white;
  font-weight: bolder;
}
.mbServiceTx{
  color:orange;
  font-weight: bolder;
}


.mbILB20{width:20px;}
.mbILB25{width:25px;}
.mbILB30{width:30px;}
.mbILB35{width:35px;}
.mbRankNone{background-color:none}
.mbRankQtyLL{background-color:saddlebrown;}
.mbRankQtyL{background-color:darkgoldenrod;}
.mbRankQty{background-color:gold;}
.mbRankQtyH{background-color:yellowgreen;}
.mbRankQtyHH{background-color:green;}
.mbRankQtyHHH{background-color:darkgreen;}

.mbRankSS,.mbRankS,.mbRankA,.mbRankB,.mbRankC,.mbRankD,.mbRankU{
  font-weight: bolder;
}

.mbRankSS::before{content:"SS";}
.mbRankSS{background-color:none;color:gold; text-shadow: -1px -1px 0 darkgoldenrod, 1px -1px 0 darkgoldenrod, -1px 1px 0 darkgoldenrod, 1px 1px 0 darkgoldenrod;}
.mbRankS::before{content:"S";}
.mbRankS{background-color:none;color:gold; text-shadow: -1px -1px 0 darkgoldenrod, 1px -1px 0 darkgoldenrod, -1px 1px 0 darkgoldenrod, 1px 1px 0 darkgoldenrod;}
.mbRankA::before{content:"A";}
.mbRankA{background-color:none;color:firebrick;}
.mbRankB::before{content:"B";}
.mbRankB{background-color:none;color:green;}
.mbRankC::before{content:"C";}
.mbRankC{background-color:none;color:darkgoldenrod;}
.mbRankD::before{content:"D";}
.mbRankD{background-color:none;color:saddlebrown;}
.mbRankH::before{content:"H";}
.mbRankH{background-color:none;color:midnightblue;}
.mbRankU::before{content:"U";}
.mbRankU{background-color:none;color:dimgray;}


.mbRankBlkSS::before{content:"👑";}
.mbRankBlkSS{background-color:darkblue;color:white; font-weight:bold; }
.mbRankBlkS::before{content:"👑";}
.mbRankBlkS{background-color:darkgreen;color:white;font-weight:bold; }
.mbRankBlkA::before{content:"🍀";}
.mbRankBlkA{background-color:green;color:white;font-weight:bold;}
.mbRankBlkB::before{content:"🍵";}
.mbRankBlkB{background-color:yellowgreen;color:white;font-weight:bold;}
.mbRankBlkC::before{content:"🍮";}
.mbRankBlkC{background-color:gold;color:white;font-weight:bold;}
.mbRankBlkD::before{content:"🍯";}
.mbRankBlkD{background-color:darkgoldenrod;color:white;font-weight:bold;}
.mbRankBlkU::before{content:"🤎";}
.mbRankBlkU{background-color:saddlebrown;color:saddlebrown;font-weight:bold;}
.mbXPTB{font-weight:bold;color:gold; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;}


.mbCalCB{
background-color:#b37441;
  background-position: 50% 50%; 
  background-size:cover; 
  border: 4px solid white;  
  border-radius: 20px; 
box-shadow: 0px 0px 8px #808080;
  color: white;
  display:block; 
  font-family:Bitter;  
  font-size:16px; 
  line-height:1.25em; 
  margin: 5px 0px;
  padding:0px; 
  text-align:center; 
}
.mbCalendar{
background-color: rgba(255,229,153,0.35);
}
.mbCalendar th{
background-color: saddlebrown;
color:#ffffff;
font-size: 12px;
text-align:center;
}
.mbCalendar td{
text-align:center;
height:24px;
width:43px;
}
.mbCalendarb{
background-color: rgba(255,229,153,0.35);
}
.mbCalendarb th{
background-color: saddlebrown;
border: 1px solid saddlebrown;
color:#ffffff;
font-size: 12px;
text-align:center;
}
.mbCalendarb td{
border: 1px solid saddlebrown;
text-align:center;
height:40px;
  
line-height:1em;
width:45px;
}
.mbCalendarb img{
  image-rendering: auto;
}

.mbCB{
clear:both;
}
.mbCL{
clear:left;
}
.mbChalkboard{
background-color:#303030;
border:4px solid white;
border-radius:4px;
box-shadow:0px 0px 4px #000000;
color:white;
margin:10px;
padding:10px;
font-family:consolas;
}
.mbCardMat{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  flex-direction:row-reverse;
  gap:10px;
}
.mbCardMatText{
  flex:1 0 50%;
}
.mbCardSlide{
  color: #783f04;
  display:inline-block;
  flex: 0 0 auto; 
  font-family:Bitter;  
  font-size:16px; 
  line-height:1.25em; 
  margin: 0px 5px 5px 5px;
  text-align:center; 
  vertical-align:top;
}
.mbCardSlide img{
  border: 2px solid white;  
  border-radius: 10px; 
  box-shadow: 0px 0px 8px #808080;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.mbCharCard{
  background-color:#b37441;
  background-image:url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Crop.png?raw=true');
  background-position: 50% 50%; 
  background-size:cover; 
  border: 4px solid white;  
  border-radius: 10px; 
  box-shadow: 0px 0px 8px #808080;
  color: #783f04;
  display:inline-block;
  flex: 0 0 auto; 
  font-family:Bitter;  
  font-size:16px; 
  line-height:1.25em; 
  margin: 0px 5px 5px 5px;
  padding:5px; 
  text-align:center; 
  height:324px;
  width:225px;
  vertical-align:top;
}
.mbCharCardAQ{
  background-color:#b37441;
  background-image:url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Crop.png?raw=true');
  background-position: 50% 50%; 
  background-size:cover; 
  border: 0px solid white;  
  border-radius: 10px; 
  box-shadow: 0px 0px 8px #808080;
  color: #783f04;
  display:inline-block;
  flex: 0 0 auto; 
  font-family:Bitter;  
  font-size:16px; 
  line-height:1.25em; 
  margin: 0px 5px 5px 5px;
  text-align:center; 
  height:350px;
  width:250px;
  vertical-align:top;
}
.mbCharCardImg {
  background-position: 50% 50%; 
  background-size:cover; 
border: 4px solid saddlebrown;  
  border-radius:5px;
height:150px; 
line-height:1em; 
  margin:5px 0px; 
  padding:0;
  background-repeat: no-repeat;
  text-align:center;
}
  .mbCharCardText{
  background-color:#ffffff80;
	background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Light.png?raw=true');
background-position: 50% 50%; 
background-size:cover; 
border-radius: 5px;
color:inherit;
  font-family:Bitter;
  font-size:14px; 
  font-style:inherit;
  line-height:1.25em; 
  margin:5px;
  padding:5px; 
  text-align:left; 
height:100px;
vertical-align:bottom;
}
.mbCharCardTitle{
  background-color:saddlebrown;
border-radius: 10px;
color:white;
  font-family:Bitter;
  font-size:14px; 
  font-style:inherit;
  line-height:1.25em; 
  margin:5px;
  padding:5px; 
  text-align:left; 
height:24px;
vertical-align:bottom;
}
.mbCharCardTitle2{
  background-color:#ffffffB0;
  border-radius: 5px;
  color:inherit;
  font-family:Bitter;
  font-weight:bold;
  font-size:18px; 
  font-style:inherit;
  line-height:1em; 
  margin:0px 0px;
  padding:5px; 
  text-align:center; 
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mbCharCardSubtitle{
  border-radius: 5px;
  color:inherit;
  font-family:Bitter;
  font-weight:bold;
  font-size:14px; 
  font-style:inherit;
  line-height:1em; 
  margin:-2px 0px 0px 0px;
  padding:0px 5px; 
  text-align:center; 
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}  
.mbCharCardTitle3L{
  background-color:#ffffffB0;
  border-radius: 5px;
  color:inherit;
  font-family:Bitter;
  font-weight:bold;
  font-size:18px; 
  font-style:inherit;
  line-height:1em; 
  margin:0px 0px;
  padding:5px; 
  text-align:left; 
}
.mbCharCardDesc{
background-color:#ffffffB0;
border-radius: 5px;
color:inherit;
  font-family:Bitter;
font-weight:bold;
  font-size:14px; 
  font-style:inherit;
  line-height:1.1em; 
  margin:0px 0px 3px 0px;
  padding:5px 5px; 
  text-align:center; 
  height:105px;
}  
.mbCharCardDescInner{
  display: table-cell; 
  vertical-align: middle;
  height:100px;
}  
.mbCharPage{
background-color:#b37441;
	background-image:url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Crop.png?raw=true');
  background-position: 50% 50%; 
  background-size:cover; 
  border: 4px solid white;  
  border-radius: 10px; 
  box-shadow: 0px 0px 8px #808080;
  color: #783f04;
  display:block; 
  font-family:Bitter;  
  font-size:16px; 
  line-height:1.25em; 
  margin: 10px 0px;
  padding:5px; 
}
.mbda{
  background-color:rgba(255,229,153,0.50);
  border:4px solid; 
  border-color:#ffffff; 
  border-radius:20px; 
  font-family:Bitter;
  font-size:18px;
  margin-top:10px;
  padding:10px; 
}
.mbhide{
  display:none;
}
.mbhr{
  background-color: saddlebrown; 
  border: 0px;
  border-radius: 2px; 
height: 3px;
margin:5px 0px;
}
.mbhr0{
  background-color: saddlebrown; 
  border: 0px;
  border-radius: 1px; 
  height: 2px;
  margin:0px;
  margin-top:-2px;
  margin-bottom:2px;
}  
.mbIndent{
  padding-left:25px;
}
.mbinline{
  display:inline;
}
.mblb{
  background-color:rgba(255,229,153,0.75); 
  background-size:cover; 
  border:4px solid #ffffff; 
  border-radius:20px;
  box-shadow: 0px 0px 8px #808080;
  color:saddlebrown; 
  display:block; 
  font-family:Bitter;
  font-size:18px; 
  line-height:1.1em; 
  margin: 2px 0px;
  padding:10px; 
  text-align:left; 
}
.mblb:hover {
  box-shadow: 0 0px 12px 0 rgba(255, 255, 255, 1);
  cursor:default;
}
.mblbdone{
  background-color:rgba(219,244,153,0.75);
	/*background-image: url('https://github.com/MagicBakery/Images/blob/main/Parchment%20Lime.png?raw=true');*/
}
.mbMP{ /* Map Pin */
  position:absolute;
  /*margin-top:-15px;
    margin-left:-10.5px;*/
  margin-top:-16px;
    margin-left:-15px;
  top:50%;
  left:50%;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
.mbp{
  font-family:Bitter;
  font-size:18px; 
  line-height:1.25em; 
  margin:0px;
  padding:0px; 
  text-align:left; 
}
.mbpc{
  font-family:Bitter;
  font-size:18px; 
  line-height:1.25em; 
  margin:0px;
  padding:0px; 
  text-align:center; 
}
.mbpdc:first-letter{ /*Drop Cap*/
  font-size:50px; 
  line-height:44px;
  float:left;
  font-family:Bitter;
  font-weight:bold;
  margin:0px;
  padding:0px;
  padding-right:4px; 
}
.mbscore{ /*Drop Cap*/
font-size:50px; 
  line-height:44px;
float:left;
  font-family:courier;
font-weight:bold;
letter-spacing: -5px;
  margin:0px 3px 0px -8px;
  padding:0px;
padding-right:4px; 
}
.mbpf{
  font-family:Consolas;
  font-size:14px; 
  font-size:14px; 
  line-height:1.25em; 
  margin:0px;
  padding:0px; 
  text-align:left; 
}
.mbq{
  color:inherit;
  font-family:Bitter;
  font-size:16px; 
  font-style:inherit;
  line-height:1.25em; 
  margin:0px;
  padding:0px 20px; 
  text-align:left; 
}
.mbPhoto{
  border-radius:15px;
  box-shadow: 0px 0px 8px #808080;
}
.mbpointer:hover{
  cursor:pointer;
}
.mbnav{
  margin-left:10px;
  display:flex;
  flex-direction: column;
}
.mbNotes{
  background-color:#ffffff40;
  border-radius: 0.6em;
  border:tan solid 1px;
  color:inherit;
  clear:left;
  font-family:Bitter;
  font-size:18px; 
  font-style:inherit;
  line-height:1.25em; 
  margin:0px -10px 0px -10px;
  padding:10px 10px; 
  text-align:left; 
}
.mbpuzzle{
  background-color:#ffffff80;
  border-radius: 0.6em;
  color:inherit;
  clear:left;
  font-family:Bitter;
  font-size:18px; 
  font-style:inherit;
  line-height:1.25em; 
  margin:5px 0px;
  padding:10px; 
  text-align:left; 
}

.mbSearch > .mbpuzzle{
  margin:2px 0px;
}
.mbSearch > .mbscroll{
  margin:0px 0px;
}

.mbPinner{
  margin:0px 0px 5px 0px;
  padding:0px 0px 5px 40px;
}

.mbstatus {
  background-color:#b37441;
  background-position: 50% 50%; 
  background-size:cover; 
  border: 4px solid white;  
  border-radius: 20px; 
  box-shadow: 0px 0px 8px #808080;
  color: white;
  display:none; 
  font-size:14px; 
  line-height:1.25em; 
  margin: 0;
  margin-top:4px;
  padding:10px; 
  text-align:left; 
  font-family:Bitter;
}
.mbshow{
  display:block;
}
.mbshowIB{
  display:inline-block;
}
.mbURL{
  font-size:15px;
}
mbAH{
  height:auto;
}

