/* Quest Society Default Style Sheet */


.btn.text{
  width: 32px;
  height: 23px;
  background: none;
  border-radius: 5px;
  border: none;
  color:#808080;
  padding: 0;
}


body.edit .btn.edit,
body.edit .comment-add{
  color:gold !important;
}


.hidden{
  display:none !important;
}