/* Quest Society Default Style Sheet */

.btn {
  align-items: center;
  background:none;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 18px;
  justify-content: center;
  padding: 0px;
  width: 24px;
}

.btn.close {
  background: #202020;
  border: 1px solid #202020;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 2px 0px 0px 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn.like{
  margin:0px -2px 0px 0px;
}
.btn.like.liked path{
  fill:currentColor;
}
.btn.right {
  float: right;
}
.btn.right.sort{
  text-align: right;
}
.btn.text {
  width: 32px;
  height: 23px;
  background: none;
  border-radius: 5px;
  border: none;
  color: #808080;
  padding: 0;
}


body.edit .btn.edit,
body.edit .comment-add {
  color: gold !important;
}


.hidden {
  display: none !important;
}